@model RestaurantEntity.Bill;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div>
    <a asp-controller="Order" asp-action="Index">Index</a>
    <hr />
</div>
<form method="post" enctype="multipart/form-data">
    <h2>Add User </h2>
    <div class="form-group">
        @*  form group for automatic audjustment for various screen sizes*@
        <label>User Name</label>
        <input type="text" asp-for="UserName" class="form-control" placeholder="Enter User Name" required />
    </div>
    <div class="form-group">
        <label>User Email</label>
        <input type="text" asp-for="UserEmail" class="form-control" placeholder="Enter User Email" required />
    </div>
  


    <input type="submit" value="Save" class="btn btn-outline-success" /> @*submit display message for required option required works only with submit*@
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @*submit sends form to server thats why we use submit not button type  *@
    @*   by default get request is called so we have mention post in the initial stage of form which will call httppost in Usercontroller *@
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>